* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #e9f5ff;
}
/* .container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
} */

.section1 {
  background: rgba(19, 145, 206, 0.7);
  /* flex-direction: column; */
}
.nav {
  display: flex;
  justify-content: center;
  gap: 0px 250px;
  margin-bottom: 131px;
}
.title {
  display: flex;
  align-items: center;
}

.handbrake {
  color: #25468a;
  font-size: 24.683px;
  font-weight: 700;
}
.nav-links {
  /* text-align: left; */
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 32px;
  flex-direction: row;

  color: #25468a;
  font-size: 16px;
  font-weight: 500;
  /* margin-left: 398px; */
}
.Docs {
  text-decoration: none;
}
.Docs1 {
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  margin-right: 32px;

  font-weight: 500;
}
.download {
  padding: 9px 18px;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 24px;
  background: #fff;
}
.logo-2 {
  width: 560px;
  height: 108px;
  flex-shrink: 0;
  margin-bottom: 8px;
}
.logo-2 p {
  color: #25468a;

  font-size: 92px;

  font-weight: 700;
}
.gap2 {
  width: 560px;
  height: 24px;
  flex-shrink: 0;
  margin-bottom: 32px;
}
.gap2 p {
  color: #3b4a6b;

  font-size: 20px;

  font-weight: 400;
}
.gap1 {
  color: #3b4a6b;

  font-size: 32px;

  font-weight: 400;
  margin-bottom: 42px;
}
.sen1 {
  width: 560px;
  height: 24px;
  flex-shrink: 0;
  margin-bottom: 12px;
}
.sen1 p {
  color: #3b4a6b;

  font-size: 32px;

  font-weight: 400;
}
.sen2 {
  width: 560px;
  height: 55px;
  flex-shrink: 0;
}
.sen2 p {
  color: #3b4a6b;

  font-size: 20px;

  font-weight: 400;
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* flex-direction: column-reverse; */
}
/* .sen3 {
  display: flex;
  width: 263.529px;
  padding: 15px 85px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 26px;
  background: #f7ba0e;
  border-radius: 26px;
}
.sen3 p {
  color: #3b4a6b;

  font-size: 18px;
  font-weight: 500px;
  letter-spacing: 0.72px;
} */

.boxes {
  display: flex;
  justify-content: center;
  margin-top: 245px;
  gap: 32px;
}
.box1 {
  border-radius: 8px;
  background: #1391ce;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05),
    0px 10px 15px 0px rgba(31, 100, 133, 0.1);
  width: 352px;
  height: 189px;
  flex-shrink: 0;
}
.box1 p {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.88px;
  margin: 68px 46px 69px 46px;
}
.box1 {
  display: flex;
  justify-content: center;
  /* background-color: #e9f5ff; */
}
.section2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: red; */
}
.just-parent {
  width: 387px;
  height: 88px;
  display: flex;
  justify-content: center;
}
.just {
  color: #1391ce;
  font-size: 36px;
  margin-top: 63px;
  width: 380px;
  text-align: center;
}
.row-parent1 {
  display: flex;
  justify-content: center;
  margin-bottom: 97px;
}
.row {
  width: 160px;
  height: 8px;
  margin: 30px auto 0;
  background: #f7ba0e;
}
.middle {
  display: flex;
  justify-content: space-evenly;
  gap: 92px;
  /* background-color: green; */
  margin-top: 97px;
}
.sec1 {
  color: #25468a;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.sec2 {
  margin-bottom: 32px;
  color: #1391ce;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 134.3%;
  letter-spacing: 0.32px;
}
.sec3 {
  color: var(--Gray-2, #4f4f4f);
  font-family: Inter;
  font-size: 18px;
  display: flex;
  align-content: flex-start;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.36px;
}
.header {
  margin: 0 auto;
}
.modern {
  color: #25468a;
  font-size: 16px;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.16px;
}
.supported {
  color: #1391ce;
  font-size: 32px;
  font-weight: 700;
  line-height: 134.3%;
  margin-top: 16px;
  margin-bottom: 32px;
}
.process {
  color: var(--Gray-2, #4f4f4f);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 134.3%;
}
.output1 {
  color: #1391ce;
  font-size: 22px;
  font-weight: 600 px;
  line-height: 134.3%;
  letter-spacing: 0.44px;
}

.section3 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 128px;
}
.section3 {
  background: #e9f5ff;
}
.section2 {
  background: #e9f5ff;
}
.section4 {
  display: flex;
  justify-content: space-evenly;
  gap: 112px;
  margin-top: 128px;
}
.output2 {
  color: #1391ce;
  font-size: 22px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.row3 {
  width: 1120px;
  height: 1px;
  flex-shrink: 0;
  background-color: white;
  display: inline-block;
  margin-top: 84px;

  margin: auto;
}
/* section5 ga alohida background color berish kerak */
.footer {
  text-align: center;
  width: 100%;
  height: 145px;
  background-color: #1391ce;
}
.footer-container {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.copyright {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
.copyright1 {
  color: var(--color-neutral-black-1, #302e2f);
  font-family: Inter;
  font-size: 16px;
}
.handbrake7 {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 134.3%;
  letter-spacing: 0.16px;
}
.privacy {
  color: var(--color-neutral-black-1, #302e2f);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  letter-spacing: 0.16px;
}
.copyright3 {
  display: flex;
}
.copyright5 {
  display: inline-block;
  color: var(--color-neutral-black-1, #302e2f);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  letter-spacing: 0.16px;
}
.sen3 {
  border-radius: 26px;
  background: #f7ba0e;
  display: flex;
  width: 263.529px;
  padding: 15px 85px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: none;
}
.sen3 p {
  color: #3b4a6b;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* header { */
  /* display: flex; */
  /* justify-content: end; */
  /* align-items: baseline; */

